<div class="main">
  <input
    (change)="onInput($event)"
    id="slider"
    type="range"
    [value]="value"
    [min]="min"
    [max]="max"
  />
  <div class="checkpoints">
    <span
      [attr.data-content]="option.description"
      *ngFor="let option of options"
      class="checkpoints__item"
    ></span>
  </div>
  <div class="imitatedSlider"></div>
  <div id="selector" #selector>
    <div class="SelectBtn"></div>
    <div id="selectValue" #selectValue></div>
  </div>
  <div id="progressBar" #progressBar></div>
</div>
